<div *ngIf="movie">
  <article class="hover:scale-105 cursor-pointer transition-all bg-gray-600 rounded-t-lg flex flex-col gap-4 w-[300px]">
    <img [src]="movie.Poster" class="rounded-t-lg" alt="Foto de la {{movie.Title}}">
    <section class="flex flex-col px-6 gap-8 pb-4">
      <header>
        <p><strong>Plot:</strong> {{movie.Plot}}</p>
      </header>
      <footer class="flex flex-col justify-between gap-3">
        <p>Genre: {{movie.Genre }}</p>
        <p>Year: {{movie.Year}}</p>
        <p>Director: {{movie.Director}}</p>
      </footer>
    </section>
  </article>
</div>
<div *ngIf="!movie">
  <h1>No hay peliculas</h1>
</div>