.main_container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* grid-template-rows: repeat(2, 1fr); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.aside_component { grid-area: 1 / 1 / 3 / 2; }
.navbar_component { grid-area: 1 / 2 / 2 / 3; }