<section *ngIf="movie" class="p-10 flex gap-6">
  <img [src]="movie.Poster" [alt]="'Portada de '+movie.Title" class="h-fit hover:grayscale hover:scale-105 transition-all">
  <aside class="flex flex-col gap-4">
    <h2><span class="categoryTitle">Title:</span> {{movie.Title}}</h2>
    <p><span class="categoryTitle">Plot:</span> {{movie.Plot}}</p>
    <p><span class="categoryTitle">Year:</span> {{movie.Year}}</p>
    <p><span class="categoryTitle">Genre:</span> {{movie.Genre}}</p>
    <p><span class="categoryTitle">Director:</span> {{movie.Director}}</p>
    <p><span class="categoryTitle">Country:</span> {{movie.Country}}</p>
    <p><span class="categoryTitle">Awards:</span> {{movie.Awards}}</p>
    <p><span class="categoryTitle">Cast:</span> {{movie.Actors}}</p>
    <p><span class="categoryTitle">Production:</span> {{movie.Production}}</p>
    <p><span class="categoryTitle">Rated:</span> {{movie.Rated}}</p>
    <p class="categoryTitle">Ratings: </p>
    <ul>
      <li *ngFor="let rating of movie.Ratings">
        <app-ratings [rating]="rating"></app-ratings>
      </li>
    </ul>
  </aside>
</section>
